{% extends 'observations/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
        <div class="row mb-5">
              <div class="col-xl-2 col-md-6 col-sm-12"></div>
              <div class="col-xl-6 col-md-6 col-sm-12">
              <br><br>
                    {% if observation.status == "Completed" %}
                    <h4 class="text-center text-danger">Наблюдение № {{ observation.pk }} - ЗАКРЫТО</h4>
                    {% else %}
                    <h4 class="text-center text-success">Наблюдение № {{ observation.pk }} - В РАБОТЕ</h4>
                    {% endif %}
              </div>
              <div class="col-xl-4 col-md-6 col-sm-12"></div>
        </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-sm-12">
            <br>
                 <a href="{% url 'list_observation' %}" class="btn btn-outline-primary" role="button">
                     Реестр наблюдений</a>
                 <br><br>
                 <a href="{% url 'employee_observation' %}" class="btn btn-outline-primary" role="button">
                     Мои наблюдения</a>
                 <br><br>
                 <a href="{% url 'manager_observation' %}" class="btn btn-outline-primary" role="button">
                     Работа с наблюдениями</a>
                 <br><br>
                     <a href="{% url 'advanced_list' %}" class="btn btn-outline-primary" role="button">
                     Расширенный реестр</a>
                 <br><br>
                     <a href="{% url 'report' %}" class="btn btn-outline-primary" role="button">Отчёты</a>
            </div>
            <div class="col-md-5 col-sm-12">
                <table class="table">
                      <tr>
<!--                          <td>Создатель наблюдения:</td>-->
                          <td>{{ observation.owner }}</td>
                      </tr>
                </table>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy form %}

                </form>
                <script>
                    $(document).ready(function() {
                        var probability_field = $("#{{ form.probability.auto_id }}");
                        var effects_field = $("#{{ form.effects.auto_id }}");
                        var risk_field = $("#{{ form.risk.auto_id }}");
                        probability_field.change( function(){
                            risk_field.val(effects_field.val() * probability_field.val())
                        })
                        effects_field.change( function(){
                            risk_field.val(effects_field.val() * probability_field.val())
                        })
                    })
                </script>
            </div>
        </div>
</div>

{% endblock %}