<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Письмо с инструкцией по восстановлению пароля</title>
</head>
<body>
<h2>Письмо с инструкцией по восстановлению пароля отправлено</h2>


<p>На указанный адрес электронной почты (если в нашей базе данных есть такой адрес)
    отправлена ссылка на смену пароля. Вы должны получить ее в ближайшее время.</p>

<p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели корректный адрес, и проверьте папку со спамом.</p>

</body>
</html>