<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница смены пароля</title>
</head>
<body>
    <div class="container">
            <div class="row mb-5">
                  <div class="col-xl-2 col-md-6 col-sm-12"></div>
                  <div class="col-xl-6 col-md-6 col-sm-12">
                      <h3 class="text-center">Смена пароля</h3>
                  </div>
                  <div class="col-xl-4 col-md-6 col-sm-12"></div>
            </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-12">
                  <h4 class="text-center">Забыли пароль? Введите ваш email ниже, и вам будет отправлена ссылка для
                      установки нового пароля</h4>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Отправить email</button>
                    </form>
                </div>
            </div>
    </div>

</body>
</html>
